<!DOCTYPE html>
<html>
<body>
    <p>{{ s }}</p>
    {% comment %} <p><strong>
        {% if error %}
            {{ error }}
        {% endif %}
    </strong></p> <br>
    <form enctype="multipart/form-data" action="{% url 'articles' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <form method="get">
        {{ filterset.form.as_p }}
        <button type="submit">Filter</button>
    </form>
    
    <ul>
        {% for article in filterset.qs %}
            <li>
                <h1>{{ article.title }}</h1>
                <h3>by {{ article.author }}</h3>
                <a href="{% url 'article' pk=article.id %}">Details</a>
                <p>{{ article.text }}</p>
                <p>Created: {{ article.created_at }}</p>
                {% for tag in article.tags.all %}
                    <p>{{ tag }}</p>
                {% endfor %}
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 300px;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul> {% endcomment %}
</body>